#include <windows.h>
#include "resource.h" // Определяет идентификаторы (IDD_DIALOG1, IDC_INFOTEXT, IDC_BUTTON)

// Первая вкладка
IDD_DIALOG1 DIALOGEX 0, 0, 250, 150
STYLE WS_CHILD | WS_CAPTION | WS_VISIBLE
CAPTION "USB Device Info"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "USB Information:", -1, 10, 10, 230, 140
END

// Вторая вкладка
IDD_DIALOG2 DIALOGEX 0, 0, 250, 150
STYLE WS_CHILD | WS_CAPTION | WS_VISIBLE
CAPTION "Bluetooth Device Info"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Bluetooth Information:", -1, 10, 10, 230, 140
END


IDD_DRIVER_SELECTION DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Выбор драйвера"
FONT 8, "MS Shell Dlg"
BEGIN
CONTROL         "", IDC_LISTBOX, "ListBox", LBS_STANDARD | WS_VSCROLL, 10, 10, 280, 200
PUSHBUTTON      "Выбрать", IDOK, 60, 220, 50, 14
PUSHBUTTON      "Отмена", IDCANCEL, 120, 220, 50, 14
END